*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 10px;
}
header{
    background-color: #0ad3f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
}
.logo{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.logo img{
    border-radius: 10px;
}
.logo h2{
    color: white;
}

header a{
    text-decoration: none;
    background-color: rgb(5, 216, 139);
    color: white;
    padding: 10px;
    border-radius: 7px;
}
header a:hover, header a:focus{
    text-decoration: none;
    background-color: rgb(12, 184, 98);
    color: white;
    padding: 10px;
    border-radius: 7px;
}
header input{
    border: none;
    background-color: #0ad3f7;
    font-size: 1.2rem;
}