*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header, footer{
    background-color: antiquewhite;
}
header h1{
    color: blue;
    text-align: center;
    size: 100px;
}
.hd-ft{
    background-color: rgb(135, 218, 222);
    height: 200px;
    border: 3px dashed red;
    border-radius: 20px;
    padding: 10px;
}